<ion-content class="ion-padding ion-text-center">

  <div class="ion-padding-bottom">
    <h1>
      ¡Bienvenido(a) {{ usuario.nombre }} {{ usuario.apellido }}!
    </h1>
  </div>

  <ion-button *ngIf="!escaneando && usuario.correo != 'ADMIN'" (click)="comenzarEscaneoQR()">
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando && plataforma === 'web'" (click)="detenerEscaneoQR()">
    Detener escaneo de QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-button *ngIf="usuario.correo == 'ADMIN'" (click)="listadoUsuarios()">
    Listado usuarios
  </ion-button>

  <ion-card *ngIf="usuario.correo == 'ADMIN'"></ion-card>
  <ion-card-header *ngIf="usuario.correo == 'ADMIN'">
    <h4>
      Correo:  <br>
      Nombre: 
    </h4>
  </ion-card-header>

</ion-content>