  <ion-header>
    <ion-toolbar id=toolbar>
      <ion-title #titulo>
          <img id=logo src="/assets/duoc-logo-s.png" alt="image">
          <p id=parrafo>Sistema de asistencia DUOC</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="componente_actual" (ngModelChange)="cambiarComponente($event)">
      
      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="miclase">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>

      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>

      <ion-segment-button value="misdatos">
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

<ion-content>
  <app-qr [hidden]="componente_actual !== 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>
  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase>
  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>
  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrarSesion()" fill="clear" shape="round">
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>
