.marco {
  padding: 16px;
}

ion-col {
  border: 1px solid #F1B634;
  padding: 8px;
  text-align: left;
}

ion-row {
  color:rgb(255, 255, 255);
}

ion-content {
  border: 5px solid #F1B634;
}